<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block meta%}{%endblock%}
    <!--favicon-->
    <link rel="icon" href="{{url_for('static', filename='ico/favicon_io/favicon.ico') }}">
    <!---->
    <!--Added datatable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/af-2.3.6/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/b-print-1.7.0/cr-1.5.3/fh-3.1.8/kt-2.6.1/r-2.2.7/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.3/datatables.min.css"/>
    <!---->
    <!--Added Bootstrap-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" />
    <!---->
    <!--Added Own Css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css') }}" />
    <!---->
    <!--Added Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!---->
    {%block link_script%}{%endblock%}

    <title>{% block title%}{% endblock %}</title>

</head>

<body style="{% block body_style %} {% endblock %}">
    <!--Navbar shown on all pages-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/home"><img src="static/ico/mstile-310x310.png" alt="" width="30" height="24" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-link active" aria-current="page" href="/generelt">Generelt</a>
    <a class="nav-link active" href="/erhvervsøkonomi">Erhvervsøkonomi</a>
    <a class="nav-link active" href="/projektledelse">Projektledelse</a>
    <a class="nav-link active" href="/makroøkonomi">Makroøkonomi</a>
    <a class="nav-link active" href="/supplychain">Supply chain</a>
    <a class="nav-link active" href="/systemudvikling">Systemudvikling</a>
    </div>
    </div>
    </div>
    </nav>
    <!--Scroll to top-->
    <a id="button"></a>


    {% block body %}
    {% endblock %}


    <div class="footer">
    </div>
    {%block scriptbottom%}{%endblock%}
    <!--Added Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!---->
    <!--Added Datatable-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/af-2.3.6/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/b-print-1.7.0/cr-1.5.3/fh-3.1.8/kt-2.6.1/r-2.2.7/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.3/datatables.min.js"></script>
    <!---->
    <!--Added own Js-->
    <script type="text/javascript" src="{{url_for('static', filename='js/javascript.js') }}"></script>
    <!---->
    <!--Added bootstrap Js-->
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!---->
</body>
</html>