<!DOCTYPE html>
{% extends "base.html" %}
{% block title %} Generelt {% endblock %}
{% block body%}

<div id="p1-generelt">
  <p class="text-center">Bedst egnet til desktop visning</p>
</div>

<!--Linechart-->
<div>
  <div>
    <canvas id="line_sales_period"></canvas>
  </div>

  <div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    const labels = {{date | safe }}
    const data = {
      labels: labels,
      datasets: [{
        label: 'Sales for each period',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: {{ sales | safe }}
      }]
    };

    const config = {
      type: 'line',
      data,
      options: {
          responsive: true,
          maintainAspectRatio: false
                }

    };

      var myChart = new Chart(
        document.getElementById('line_sales_period', ),
        config
      );
    </script>
  </div>
</div>



<!--Tables-->
<div>
    <table class="table table-striped table-hover text-center text-decoration-underline">
      <thead>
        <tr>
            <tr>
            {% for s in header %}
                <th>{{ s }}</th>
            {% endfor %}
            </tr>
        </tr>
      </thead>
      <tbody>
            <tr>
            {% for s in datasæt %}
                <td>{{ s }}</td>
            {% endfor %}
            </tr>
      </tbody>
      </table>


  <!--Table2-->
  <p id="p2-generelt" class="text-center">Salg i Dkk for hver given periode:</p>
    <div class="table-responsive text-center">
      <table class="table table-hover table-striped table-bordered">
        <thead>
              <tr id="generel_header">
              {% for s in date %}
                  <th class=>{{ s }}</th>
              {% endfor %}
              </tr>
          </tr>
        </thead>
        <tbody>
              <tr id="generel_row">
              {% for s in sales %}
                  <td>{{ s }}</td>
              {% endfor %}
              </tr>
        </tbody>
      </table>
    </div>
</div>


<!--h1-->
<h1>test</h1>
<p1>test</p1>


{% endblock %}


