{% extends "base.html" %}

{%block meta%}{%endblock%}

{%block link_script%}{%endblock%}
{% block title %}Home{% endblock title %}




{% block body_style %} {% endblock %}"
{% block body %}
<img id="home_top_logo"src="static/ico/proshop.png" class="rounded mx-auto d-block" alt="..." >


<div class="paragraph_left_home">
    <h1>Semesterprojekt</h1>
    <p>Proshop er en Århus baseret e-commerce virksomhed, der de seneste år har oplevet stor vækst.
        Proshop etablerede Danmarks største robotlager i 2018. Det voksede de ud af i efteråret 2020, hvor de flyttede fra deres gamle lokaliteter til nye bygninger. En investering til 100 mio. kr.
        Hvis det fortsætter med samme hastighed, kommer Proshop til at udvide lagerkapaciteten yderligere om ca. et år.
        Covid 19 situationen har betydet ekstra salg siden marts 2020, da de konkurrerende fysiske butikker har været lukket ned i flere perioder. Hvornår konkurrenceintensiteten igen øges, vil bl.a. afhænge af, hvordan Covid 19 udvikler sig, og i hvilken grad de fysiske butikker vil være åbne.
        Lige nu i skrivende stund, er vaccinationsprocessen løbet ind i problemer, da der formodede bivirkninger ved AstraZenecas Covid-19-vaccine (ændrer navn til Vaxzevria) og Johnson & Johnsons Janssen COVID-19 vaccine, hvilket forlænger vaccinationsprocessen i Europa og USA.
        Det er forventet at Amazon, der er verdens største e-commerce virksomhed, vil etablere sig på det danske marked i 2021, men det er indtil videre et gæt. Hvis Amazon etablerer sig her i landet, vil det betyde øget konkurrence og forventeligt påvirke Proshops salg negativt.
        Selvom Proshop har stor fokus på logistikken, må det forventes at konkurrencen fra Amazon betyder at Proshop kommer til at foretage yderligere investeringer i deres optimering af deres forsyningskæde bl.a. gennem øget digitalisering af processerne.
    </p>
        <div  class="home_table table-responsive">
                        <h1>Organisation 2 / Projektledelse</h1>
                    <p>IT-chefen Klaus Vilstrup Pedersen hos Proshop er af chefgruppen blevet udpeget som kombineret projektejer og styregruppe.
                        I bedes derfor gennemføre projektet (bestående af alle delprojekter (Softwarekonstruktion 2, Systemudvikling 2, Makroøkonomi, Erhvervsøkonomi, Supply Chain Management) med reference til ham, hvor han er til rådighed en gang om ugen i samlet en halv time (se udsendte invitationer), sammen med udviklingschefen (se Softwarekonstruktion 2) til at diskutere projektets rammer, fremdrift og håndtering, samt Softwareudviklingen.
                        I første omgang er det vigtigt at der bliver udviklet et projektgrundlag i version 0.6 i form af: <br>
                        •	Projektmål og delmål<br>
                        •	Scope<br>
                        •	Plan<br>
                        •	Diverse analyser, der har betydning for gennemførelse af projektet<br>
                        •	Projektorganisering<br>
                        •	En begrundet beskrivelse af metodetilgangen til projektet (delprojekterne)<br>
                        På første møde mandag d. 3. maj (se udsendt invitation) vil agendaen fokusere på forventningsafstemning i forhold til projektet og projektgrundlag.

                        De ugentlige projektmøder afholdes fysisk eller via Teams, afhængig af Covid-19 situationen og projektgruppens ønske.

                        Forventninger til afsluttende rapport for Projektledelsesdelen diskuteres på første møde med projektejer mandag d. 3. maj.
                    </p>

                    <h1>Softwarekonstruktion 2</h1>
                    <p>Proshop har været gennem en rivende udvikling gennem de sidste 5 år.
                        De har indført nye it-systemer og opdateret disse.
                        Det betyder de har rigtig mange data og kan fremtrylle stort set alle oplysninger om aktiviteter i firmaet.

                        Men det er også blevet kompleks og det kan være svært at få et hurtigt overblik, når beslutninger skal træffes.
                        Derfor vil ledelsen hos Proshop gerne have en simpel prototype på et værktøj, som kan visualisere nogle af de mange data – og dermed få bedre viden om historik og trends.

                        Af administrative årsager, kan der ikke gives direkte adgang til alle data i Proshop. 
                        Derfor er der en bunden opgave i, at modellere en database som samler datasæt, der skal danne grundlag for visualiseringerne.   

                        Proshop har planer om at lave et projekt, som skal optimere deres leverancer.
                        Derfor vil de gerne have at prototypen, kan give overblik over mængder hos de enkelte leverandører og prisudviklingen på disse mængder.
                        Men ledelsen er meget åbne overfor hvad visualiseringerne skal vise – og vil gerne have jeres input til mulighederne. 

                        Proshop har lavet et dataudtræk fra deres system, som I skal bruge som model. 

                        Der er udpeget en projektejer og styregruppe til projektet, vi som udviklingsteam skal referere til.
                        Jeres gruppe hyres ind som udviklingsteam af Torben Egelund Rauff/Henrik Jensen (udviklingschefer hos Proshop).
                        Udviklingschefen indkalder udviklingsteamet til første sprintmøde. Dette foregår over Teams og finder sted umiddelbart efter opstart af projektet.

                        På efterfølgende ugentlige sprintmøder af ½ times varighed, vil udviklingschefen udstikke overordnede retningslinjer ud fra Proshops IT-strategi til projektet. På mødet forventes det at I giver en status på projektet og der i fællesskab opsættes mål for det næste sprint.

                        Som kompetent udviklingsteam, skal I selv stå for projektledelse og målopfølgning.
                    </p>

                <h1>Systemudvikling </h1>
                    <p>Foretag et sprint retrospective efter hvert sprint, som I gennemfører i Systemkonstruktion jf. ovenfor. 
                        Identificer og beskriv, den læring, I har opsamlet gennem sprintet mht. arbejdsproces og samarbejde. Planlæg, hvorledes denne læring kan forbedre jeres ”performance” 
                        i næste sprint. Evaluer i det efterfølgende sprint, om de planlagte forbedringer havde effekt på jeres leverance, kvalitet og trivsel i gruppen.
                    </p>

                <h1>Makroøkonomi </h1>
                    <p>
                    Proshop har ønsket et oplæg til hvorledes I ser den makroøkonomiske situation de næste 5 år, der bl.a. afhænger af Covid 19´s udvikling.
                    </p>

                <h1>Erhvervsøkonomi </h1>
                    <p>
                    På den baggrund vil de gerne have jer til at lave budgetter for de næste 5 år, hvor I det første år skal lave et worst case-, et base case- og et best case budget.
                    <p>
                <h1>Supply chain management + erhvervsøkonomi</h1>
                    <p>
                    I skal samtidig producere et forslag til hvorledes I ser mulighed for at forbedre opbygningen af Proshops SCM, for bedre at kunne konkurrere med Amazon, der har sandsynligvis har verdens mest avancerede logistiske set-up. 

                    EØ-del under SCM:
                    Forslaget skal indeholde en profitabilitets beregning for en investering med en levetid på 4 år.
                    </p>
                <h1>Udarbejdet af:</h1>
                    <p id="our_names">
                    • Filip Eric Ørum-Petersen <br>
                    • Andreas Koefoed-Pedersen <br>
                    • Mads Røge Christensen <br>
                    • Max Møller
                    </p>
                    <p id="home_note">NOTE</p>
                    <p id="home_note_par">Dette er udelukkende Softwarekonstruktions delen</p>

        </div>
</div>




{%block scriptbottom%}{% endblock %}
{% endblock body%}

