{% extends "base.html" %}

{%block meta%}{%endblock%}

{%block link_script%}{%endblock%}
{% block title %}Home{% endblock title %}




{% block body_style %} {% endblock %}"
{% block body %}
<img id="home_top_logo"src="static/ico/proshop.png" class="rounded mx-auto d-block" alt="..." >


<div class="paragraph_left">
    <h1>Overskrift</h1>
    <p>Dette er vores semester projekt -- kom gerne med ideer til hvilke database udtræk etc vi kan foretage os:))))Dette er vores semester projekt -- kom gerne med ideer til hvilke database udtræk etc vi kan foretage os:))))Dette er vores semester projekt -- kom gerne med ideer til hvilke database udtræk etc vi kan foretage os:))))Dette er vores semester projekt -- kom gerne med ideer til hvilke database udtræk etc vi kan foretage os:))))Dette er vores semester projekt -- kom gerne med ideer til hvilke database udtræk etc vi kan foretage os:))))Dette er vores semester projekt -- kom gerne med ideer til hvilke database udtræk etc vi kan foretage os:))))Dette er vores semester projekt -- kom gerne med ideer til hvilke database udtræk etc vi kan foretage os:))))</p>
</div>



{%block scriptbottom%}{% endblock %}
{% endblock body%}

