{% extends "base.html" %}

{%block meta%}{%endblock%}
{% block link_script %}{% endblock %}

{% block title %}Makroøkonomi{% endblock %}

{% block body_style %}{% endblock %}

{% block body %}

<div class="makro_paragraph_div">
<p class="makro_header">Delkonklusion</p>
<p>
Vi har kunnet se at den samlede efterspørgsel er faldet. Det er på baggrund af et fald i forbruget og et fald i eksporten, specielt turist eksport.
Ud fra det har vi kunnet udlede at vores BNP og Inflation i teorien gerne skulle falde, og det har vi også set den har gjort i praksis. Så har vi også kunnet udlede fra den faldende 
inflation, og ud fra en stigning i ledigheden, at der er en sammenhæng mellem de to variabler i praksis. Vi kan derfor se at når der er en lav inflation i Danmark i 
2020, så har vi en stor ledighed, hvilket vi i Danmark har haft. Men det kommer til at virke anden vejs efter 2020 og imod 2025, hvor vi både ser en stigning BNP og 
beskæftigelse ud fra varemarked 2 analyse.
<br>
<br>
Vi forudser at det private forbrug (C) og derved efterspørgslen (SE) vil stige til en væsentlige højere grad imod 2025. Grundet en større privatopsparing under
Covid-19, men ikke er blevet overført til lang tids opsparing i form af private investeringer, som ses gennem varemarked 1 analyse. Samt EU's bidrag til offentlige
investeringer kommer til at simulere økonomien. Det er altså en indikator på folk er klar til at bruge deres penge så snart landet rigtigt åbner igen.
Hvor anden indikator for stigning er forbundet men voksende beskæftigelse og stigende realløn der understøtter sandsynligheden for højere privat forbrug imod 2025, som 
samlet set forudsættes at stige med 2,45 pct. indtil 2025.  Dog sker der en risiko ved fjernelse af hjælpepakkerne. Arbejdsmarkedet er blevet mindre dynamisk, og
enkle virksomheder bliver holdt kunstigt i live. En fjernelse af hjælpepakkerne kan gøre disse virksomheder insolvente, som har mulighed for at skabe økonomiske
uventede problemer, og mulige dominoeffekter.
<br>
<br>

VI formoder starten på stigning allerede sker ved åbningen af butikker, og udviklingen af Coronapas. Der kommer det til at være muligt og se en påvirkning af det 
private forbrug, som er fortolket ud fra varemærket 2 analysen. Dette er begyndelsen til de samfundsøkonomiske tandhjul begynder at accelerere igen, og BNP 'en 
bliver påvirket. Med større forbrug og lavere ledighed kommer BNP til at stige med 2 pct. I 2021 og 4 pct. I 2022. Dette bliver understøttet 
af en stigende betalingsbalance. Betalingsbalancen gik ned i 2020, men i 2021 kommer til at udgøre 7 pct. af BNP, og derefter 5,5 pct. Frem mod 2025. Grundet en 
forhøjet opsparingstilbøjelighed for det private og offentlige. Det øgede overskud på betalingsbalancens bidrager til at øge Danmarks nettoformue over for udlandet,
som forventes at vokse til mere end 110 pct. af BNP i 2025 (Finansministeriet, 2021). Udlånsrenten er lige nu negativ of forventet at forblive indtil FED bedømmer at 
arbejdsmarkedet er tilbage til pre covid niveau. Hvor den så forventes at stige.
</p>
</div>




{%block scriptbottom%}{%endblock%}
{% endblock body %}