{% extends "base.html" %}

{%block meta%}{%endblock%}
{% block link_script %}{% endblock %}

{% block title %}Projektledelse{% endblock %}

{% block body_style %} background:#FBFCFC {% endblock %}
{% block body %}
<!--Embed from onedrive / Takes a while to load page-->
<div class="gantt-kort">
<h1>Gantt 0.6</h1>
<iframe width="100%" height="766px" frameborder="1" scrolling="no" src="https://onedrive.live.com/embed?resid=FEDB03DA97587CD3%217978&authkey=%21AIMsnwKPtARSFjM&em=2&wdAllowInteractivity=False&ActiveCell='Projektplanl%C3%A6gger'!B2&Item='Projektplanl%C3%A6gger'!A1%3AAS39&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
<h1>Gantt 1.0</h1>
<iframe width="100%" height="766" frameborder="1" scrolling="no" src="https://onedrive.live.com/embed?resid=FEDB03DA97587CD3%217983&authkey=%21AI9q4ZZh_BcTEIg&em=2&wdAllowInteractivity=False&ActiveCell='Projektplanl%C3%A6gger'!B2&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
</div>




{%block scriptbottom%}{%endblock%}
{% endblock %}

