{% extends "base.html" %}

{%block meta%}{%endblock%}
{% block link_script %}{% endblock %}

{% block title %}Projektledelse{% endblock %}

{% block body_style %} background:#FBFCFC {% endblock %}
{% block body %}
<!--Embed from onedrive-->
<iframe width="90%" height="813px" frameborder="1" scrolling="no" id="onedrive-gantt" src="https://onedrive.live.com/embed?resid=FEDB03DA97587CD3%217974&authkey=%21AH9THESNM2CSrZI&em=2&wdAllowInteractivity=False&ActiveCell='Projektplanl%C3%A6gger'!B1&Item='Projektplanl%C3%A6gger'!B1%3ABO23&wdHideGridlines=True&wdDownloadButton=False&wdInConfigurator=True"></iframe>





{%block scriptbottom%}{%endblock%}
{% endblock %}

