{% extends "base.html" %}
{%block meta%}{%endblock%}
{%block link_script%}{%endblock%}
{% block title %}Systemudvikling{% endblock %}

{% block body_style %} {% endblock %}

{% block body %}
<div class="systemudvikling_paragraf">
<h1>Sprint retrospective</h1>
<p>
Her i vores første sprint retrospective, vil vi kigge tilbage på den proces vi lige har været igennem, og hvordan vi har arbejdet sammen. Vi vil som værktøj bruge the Starfish method. Denne metode består af 5 simple ord Start, Stop, Keep, More, Less. Her kan alle fra teamet få lov til at komme med deres egen holdning, til hvad vi skal til at gøre fremadrettet. Hvad vi skal stoppe med at gøre. Hvad vi skal blive ved med at gøre. Hvad vi skal gøre mere af, og hvad vi skal gøre mindre af.  
<br>
Hvert medlem i projektgruppen skal hver, komme med et eller flere bud, på hvert område, hvor vi kan forbedre os ift. Det sidste sprint. Vi starter ud med Start.<br>
<br>START:<br>
● Vi skal begynde at sætte os ind i alt hvad der bliver skrevet. Så vi hele tiden kan hjælpe hinanden, både med at skrive, men også komme med konstruktiv kritik, så vi hele tiden laver et bedre og bedre produkt, og det er forståeligt for hele gruppen, hvad der bliver skrevet.
<br>● Flere må gerne starte med at tage initiativ derhjemme. Altså man må gerne arbejde derhjemme, så vi kan afslutte nogen ting, og vi ikke først skal huske hvad vi lavede i går.<br>

<br>STOP:<br>
● Vi skal stoppe med at blive hjemme. Set ift. At der har været lidt udsving på hvor mange der har været mødt op, og det skal stoppes. Fremover skal alle komme hver dag.<br>

<br>KEEP:<br>
● Blive ved med at interagere med de andre grupper. Vi kan lære rigtig meget af at forhøre os hos andre grupper, også hvis de har stillet nogle andre spørgsmål hos vejlederne end vi har gjort, og derved måske gjort nogle andre erfaringer end os.<br>
● Stadig blive ved med at møde op fysisk. Fysisk møde hjælper teamet med at holde fokus.<br>
● Blive ved med at holde humøret højt.<br>


<br>MORE:<br>
● Engagere hinanden mere, så arbejdsbyrden måske ikke virker så hård.<br>
● Vi skal lave mere kaffe til hinanden.<br>
● Måske bruge vores vejledere mere<br>

<br>LESS:<br>
● Tid som vi bruger på alt mulig andet end opgaven, fx søge på hvad man tjener i forskellige jobs.<br>

<br>Vi har lavet en brainstorm sammen, hvor vi er kommet frem til de her forskellige forslag. Nogle af forslagene var meget ens, og blev derfor skrevet sammen til samme punkt. Efter vi alle har læst og forstået alle forslag, skal vi nu hver i sær, udvælge hvilke forslag vi synes er bedst subjektivt.<br>
De tre forslag der fik flest stemmer, og som vi skal fokusere på fremadrettet er:<br>
<br>
● Blive ved med at interagere med de andre grupper. Vi kan lære rigtig meget af at forhøre os hos andre grupper, også hvis de har stillet nogle andre spørgsmål hos vejlederne end vi har gjort, og derved måske gjort nogle andre erfaringer end os.<br>
● Flere må gerne starte med at tage initiativ derhjemme. Altså man må gerne arbejde derhjemme, så vi kan afslutte nogen ting, og vi ikke først skal huske hvad vi lavede i går.<br>
● Stadig blive ved med at møde op fysisk. Fysisk møde hjælper teamet med at holde fokus.<br>
<br>
Da vi i gruppen ikke har faste defineret roller, så er vi alle nødt til at kunne agere flere roller, Så man ikke hele tiden kun er developer, men også kan finde ud af at fungere som Scrummaster, når nogle af vores delmål er ved at være opfyldt. Så for at kunne få implementeret disse fællesvalgte konstruktive forslag, så er vi nødt til indbyrdes at kunne acceptere at alle har en stemme. Vi skal i gruppen finde nogle mål, så vi efter næste sprint, kan se om vi har overholdt vores forslag, eller om implantationen af disse 3 forslag har slået fejl.<br>
<br>
<br>
Succeskriteriet for forslag 1 er:<br>
● At vi måske lige engang om dagen interagerer med de andre grupper.<br>
● Vi skal have lært noget af en anden gruppe<br>

<br>
Succeskriteriet for forslag 2 er:<br>
● Alle skal som minimum have skrevet 2 sider hjemme<br>
● Alle skal som minimum have siddet og kigget på opgaven i 2 timer<br>
<br>
Succeskriteriet for forslag 3 er:<br>
● Alle skal møde fysisk op alle dage, medmindre man bliver forhindret<br>
● Ingen dårlige undskyldninger, som fx at man sov over sig<br>
● Hvis man ikke kan komme, så skal man give begrundelse.<br>
<br>
<br>
Der er ikke nogen straf for ikke at overholde vores succeskriterier. Vi hæfter alle fælles, og når vi ikke opnår vores succeskriterier, så kan det være vi muligvis ender med et værre produkt i sidste ende. Dette er vores afslutning på vores første Sprint Retrospective, hvor vi fælles har set på en masse ting som enten har gjort os gode, eller hindret os i vores proces omkring projektet. Vi vil på vores næste Sprint vurdere om kriterierne er nået eller ikke nået. 
<br>

<br><p class="systemudvikling_sprint_headers">Sprint 2</p>
I sprint 2 kigger vi på hvordan vi har som gruppe har opfyldt de succeskriterier vi havde opsat for sidste sprint. Vi var i projektgruppen blevet enige om disse tre succeskriterier:
<br>
Blive ved med at interagere med de andre grupper. Vi kan lære rigtig meget af at forhøre os hos andre grupper, også hvis de har stillet nogle andre spørgsmål hos vejlederne end vi har gjort, og derved måske gjort nogle andre erfaringer end os.<br>
Flere må gerne starte med at tage initiativ derhjemme. Altså man må gerne arbejde derhjemme, så vi kan afslutte nogen ting, og vi ikke først skal huske hvad vi lavede i går.<br>
Stadig blive ved med at møde op fysisk. Fysisk møde hjælper teamet med at holde fokus.<br>
<br>
Succeskriterie 1 var vores vigtigste mål. Vi har i det forgangene sprint fortsat med at interagere med de andre grupper, og forhørt os hos forskellige grupper, hvis de har haft samtaler med vejleder. Vi har som udgangspunkt ikke ændret i den måde vi interagerer på eller hyppigheden af interaktion med de andre grupper. Så for dette mål som vi har sat, der har vi klart overholdt hvad vi aftalte efter sidste sprint, så vi kan kalde kriterie nr.1 for en succes.<br>
<br>
Succeskriterie 2 var også ret vigtig. Den var specielt vigtig i sidste sprint, da vi havde meget hjemmearbejde, fordi der var nogle helligdage, og gruppen skulle arbejde hver for sig i disse dage. Men vi må konstatere her efter endt sprint, at dette kriterie ikke har været prioriteret nok, og der er ikke blevet holdt så høj en arbejdsmoral derhjemme, som der har været når vi har mødtes fysisk sammen. Så kriterie nr. 2 har været lidt nedprioriteret, grunden til dette har været forskellige fra person til person, men kriteriet har ikke været opfyldt, og dette har været kritisabelt.<br>
<br>
Succeskriterie 3 var at møde at møde fysisk op. Dette har været en lidt sparet omgang, med flere helligdage i, men i de dage hvor fremmøde har været muligt, har hovedparten af gruppen været tilgængelig på skolen, hvor vi har kunnet hjælpe hinanden. Så i det foregående sprint har der været en okay forståelse for det fysiske fremmøde, men stadig plads til forbedringer, hvis vi tænker på at alle skulle møde op, så vi havde noget sammenspil hver dag.<br>
<br>
Efter at have set på hvordan vi har håndteret vores sidste sprint, og hvordan vi har levet op til de kriterier vi havde sat for os selv, så forventer vi at til Sprint 2 kommer der til at blive strammet op fra gruppen af, så vi i gruppen stadig kan blive ved med at stille forventninger til hinanden.<br>
<br>
For at samle op på Sprint 2, vil vi igen bruge Retrospective wheel, så vi bedre kan få et overblik over sidste sprint, og alle får mulighed for at komme med bud på, hvad vi skal gøre fremover i næste sprint.<br>
<br>

<br>START:<br>
● Vi skal begynde at arbejde hjemme en time om dagen, efter endt arbejdsdag på skolen<br>
● En monetær instans der forhindrer ineffektivitet og brud på gruppekontrakt.<br>
● Give hinanden konstruktiv kritik<br>

<br>STOP:<br>
● Med at kigge på software, da den er færdig for dette sprint<br>
● Slack<br>

<br>KEEP:<br>
● Give konstruktivkritik, så vi kan holde hinanden oppe på tæerne.<br>
● Interagere med de andre grupper<br>
● Det gode humør<br>

<br>MORE:<br>
● Være mere opmærksom på gruppe deadlines<br>
● Overholde aftaler som bliver indgået<br>
● Fysisk fremmøde<br>
● Arbejde derhjemme efter fysisk fremmøde<br>

<br>LESS:<br>
● Frihedsgrader, folk skal fokusere mere, være i lænker.<br>
● Dårlige undskyldninger<br>
<br>
Som gruppe har vi valgt 3 af disse kriterier til dette Sprint som vi vil fokusere på, og hvor vi synes det er mest nødvendigt at sætte ind.<br>
<br>
● Vi skal arbejde en time hjemme, efter endt arbejdsdag<br>
● Fysisk Fremmøde<br>
● Stop med Slack<br>
<br>
Vores succeskriterie 1 er vores vigtigste mål i dette sprint. Der har i gruppen været for lidt fokus på at skulle arbejde lidt derhjemme, da vi havde håbet på at kunne opnå vores mål igennem arbejdet i gruppen, ved fysisk tilstedeværelse.  
<br>
Succeskriterie 2 er at vi bliver nødt til at være bedre til at møde op. Vi havde efter sidste sprint, også fokus på dette emne, men der har åbenbart ikke været nok fokus på dette, da vi ikke udførte kriteriet til et acceptabelt niveau, så i dette sprint er vi nødt endnu engang at have fokus på det fysiske fremmøde.  
<br>
Vores sidste succeskriterie fokus er på at vi skal have mindre slack. Dette betyder at vi skal blive bedre til at spille hinanden gode, og bruge hinanden konstruktiv og stadig have fokus på projektet. I foregående sprint var der en tendens til en afsporing af samtalen, som ikke førte til en øget produktivitet, men i stedet en forværring af gruppens indsats og spild af tid, på ligegyldige ting. 
<br>
I sidste Sprint var der ingen konsekvenser for manglende overholdsele af vores forbedringer af Sprintet i form af Sprint retrospektive. Vi har nu mere fokus på den del, da indsatsen ikke har været tilfredsstillende, set i bakspejlet af hvilke succeskriterier vi havde og hvordan indsatsen for at overholde dem udspillede sig. Vi vil i dette Sprint slå hårdere ned på medlemmer af gruppen, der ikke formår at holde fokus på de tre succeskriterier vi har fokus på i dette Sprint. Dette ses også ved forslaget om en monetær instans, som dog ikke er blevet en realitet, men forslaget tegner om et øget fokus på vore Sprint mål. 
<br>
<br>
<p class="systemudvikling_sprint_headers">Sprint 3</p>
I dette Sprint retrospective vil kigge tilbage på sprint 2 og sætte målene for vores sidste sprint i sprint 3. Dette sidste Sprint er især vigtigt, da vi kun har en uge tilbage til vi skal levere produktet.  
Sidste sprint fokuserede vi mest på:<br>
<br>
● Vi skal arbejde en time hjemme, efter endt arbejdsdag<br>
● Fysisk Fremmøde<br>
● Stop med Slack<br>
<br>
Disse kriterier har været alt afgørende for komme i mål med sidste uges krav for projektet. Kriterie 1 og 3 har været altafgørende for at fremme vores proces og overholde de interne aftaler i gruppen. Disse kriterier vil fortsat stadig have en væsentlig indflydelse på hvordan vi arbejder i løbet af projektets sidste sprint.  
<br>
Vi vil igen bruge Retrospective wheel, så vi bedre kan få et overblik over sidste sprint, og alle får mulighed for at komme med bud på, hvad vi skal gøre fremover i næste sprint. 
<br>
<br>START:<br>
● Vi skal stoppe med at bide af hinanden, når vi spørg ind til et fag vi ikke har stået så meget for, for at skabe overblik over hele opgaven, og hvordan den er lavet.<br>
● Sætte specifikke deadlines, der skal overholdes<br>
● Gruppemøde<br>
<br>STOP:<br>
● Give andre skylden, for at man ikke selv har været effektiv.<br>
<br>KEEP:<br>
● Give konstruktivkritik, så vi kan holde hinanden oppe på tæerne.<br>
● Interagere med de andre grupper.<br>
● Det gode humør.<br>
<br>MORE:<br>
● Være mere opmærksom på gruppe deadlines.<br>
● Overholde aftaler som bliver indgået.<br>
● Meget mere hjemmearbejde.<br>
● Effektivitet<br>
<br>LESS:<br>
● Frihedsgrader, folk skal fokusere mere, være i lænker.<br>
● Dårlige undskyldninger<br>
● Slack<br>
<br>
Vi har igen valgt at fokusere på succeskriterier, dog denne gang 4:<br>
● Gruppemøder, vi skal afholde gruppemøder, hvor vi taler om effektivitet, og hvad der skal gøres for at overholde aftaler<br>
● Vi skal stoppe med at bide af hinanden, når vi spørg ind til et fag vi ikke har stået så meget for, for at skabe overblik over hele opgaven, og hvordan den er lavet.<br>
● Give andre skylden, for at man ikke selv har været effektiv.<br>
● Meget mere hjemmearbejde.<br>
<br>
Disse kriterier er valgt, for at få os igennem den sidste del af projektet bedst muligt.<br>
<br>
Vi har haft for lidt effektivarbejdstid de sidste par sprint, derfor har vi lavet et dagligt gruppemøde, hvor vi taler om tingene, og hvad der forventes, så vi undgår slack og sløvehoveder.<br>
<br>
Vi har generelt været dårlige i gruppen til at lade andre forstå hvad vi selv sidder med, så derfor har vi sat fokus på, at vi skal blive bedre til at tage tid til at forklare, når der bliver spurgt ind til det, da det kan være at vedkommende har en bedre formulering eller forklaring.<br>
<br>
Dernæst har vi valgt at fokusere på, at vi ikke skal give skylden til andre end en selv for ikke at have arbejdet effektivt og nået sit mål, dette er udelukkende eget ansvar at nå gruppens deadlines. Hvis man har andre aftaler, der påvirker at disse deadlines ikke kan overholdes, så må disse aflyses.<br>
<br>
Til slut fokuserer vi på, at vi stadig skal have meget mere hjemmearbejde, for at kunne nå deadlines, og vi generelt set ikke har været effektive nok hjemme. Der bliver i dette sprint et krav om at man skal arbejde hjemme indtil man er nået deadline, som vi aftaler på forhånd inden vi tager hjem fra det fysiske fremmøde.<br>
<br>
Vi er blevet bedre til at tage diskussioner op, hvis et gruppemedlem ikke når mål og deadlines. Dette har været alt afgørende for at nå dertil, hvor vi er nu, det er også derfor vi sætter ekstra meget ind på det succeskriterie.<br>
</p>
</div>




{%block scriptbottom%}{%endblock%}


{% endblock body %}


