{% extends "base.html" %}
{% block title %}Systemudvikling{% endblock %}

{% block body %}
<div>
    <table id="table_systemudvikling_userstory" class="table table-striped table-hover table-responsive text-center">
    <thead>
        <tr>
        <th scope="col">UserStory</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>something</td>
        </tr>

    </tbody>
    </table>
</div>

<div>
    <table id="table_systemudvikling_usercase" class="table table-striped table-hover table-responsive text-center">
    <thead>
        <tr>
        <th scope="col">UserCase</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>something</td>
        </tr>

    </tbody>
    </table>
</div>

<!--Kanban-->

{% endblock%}


{%block scriptbottom%}
<!--<script type="text/javascript" src="{{url_for('static', filename='js/kanban.js') }}"></script> -->
{%endblock%}