{% extends "base.html" %}
{%block meta%}{%endblock%}
{%block link_script%}{%endblock%}
{% block title %}Systemudvikling{% endblock %}

{% block body_style %} {% endblock %}

{% block body %}
<div class="systemudvikling_paragraf">
<h1>Sprint retrospective</h1>
<p>
Her i vores første sprint retrospective, vil vi kigge tilbage på den proces vi lige har været igennem, og hvordan vi har arbejdet sammen. Vi vil som værktøj bruge the Starfish method. Denne metode består af 5 simple ord Start, Stop, Keep, More, Less. Her kan alle fra teamet få lov til at komme med deres egen holdning, til hvad vi skal til at gøre fremadrettet. Hvad vi skal stoppe med at gøre. Hvad vi skal blive ved med at gøre. Hvad vi skal gøre mere af, og hvad vi skal gøre mindre af.

Hvert medlem i projektgruppen skal hver, komme med et eller flere bud, på hvert område, hvor vi kan forbedre os ift. Det sidste sprint. Vi starter ud med Start.<br>

<br>START:<br>

- Vi skal begynde at sætte os ind i alt hvad der bliver skrevet. Så vi hele tiden kan hjælpe hinanden, både med at skrive, men også komme med konstruktiv kritik, så vi hele tiden laver et bedre og bedre produkt, og det er forståeligt for hele gruppen, hvad der bliver skrevet.<br>

- Flere må gerne starte med at tage initiativ derhjemme. Altså man må gerne arbejde derhjemme, så vi kan afslutte nogen ting, og vi ikke først skal huske hvad vi lavede i går.<br>

<br>STOP:<br>

- Vi skal stoppe med at blive hjemme. Set ift. At der har været lidt udsving på hvor mange der har været mødt op, og det skal stoppes. Fremover skal alle komme hver dag.<br>

<br>KEEP:<br>

- Blive ved med at interagere med de andre grupper. Vi kan lære rigtig meget af at forhøre os hos andre grupper, også hvis de har stillet nogle andre spørgsmål hos vejlederne end vi har gjort, og derved måske gjort nogle andre erfaringer end os.<br>

- Stadig blive ved med at møde op fysisk. Fysisk møde hjælper teamet med at holde fokus.<br>

- Blive ved med at holde humøret højt.<br>

<br>MORE:<br>

- Engagere hinanden mere, så arbejdsbyrden måske ikke virker så hård.<br>

- Vi skal lave mere kaffe til hinanden.<br>

- Måske bruge vores vejledere mere<br>

<br>LESS:<br>

- Tid som vi bruger på alt mulig andet end opgaven, fx søge på hvad man tjener i forskellige jobs.<br>

Vi har lavet en brainstorm sammen, hvor vi er kommet frem til de her forskellige forslag. Nogle af forslagene var meget ens, og blev derfor skrevet sammen til samme punkt. Efter vi alle har læst og forstået alle forslag, skal vi nu hver i sær, udvælge hvilke forslag vi synes er bedst subjektivt.

De tre forslag der fik flest stemmer, og som vi skal fokusere på fremadrettet var.<br><br>

1. Blive ved med at interagere med de andre grupper. Vi kan lære rigtig meget af at forhøre os hos andre grupper, også hvis de har stillet nogle andre spørgsmål hos vejlederne end vi har gjort, og derved måske gjort nogle andre erfaringer end os.<br>

2. Flere må gerne starte med at tage initiativ derhjemme. Altså man må gerne arbejde derhjemme, så vi kan afslutte nogen ting, og vi ikke først skal huske hvad vi lavede i går.<br>

3. Stadig blive ved med at møde op fysisk. Fysisk møde hjælper teamet med at holde fokus.<br><br>

Da vi i gruppen ikke har faste defineret roller, så er vi alle nødt til at kunne agere flere roller, Så man ikke hele tiden kun er developer, men også kan finde ud af at fungere som Scrummaster, når<br>

nogle af vores delmål er ved at være opfyldt. Så for at kunne få implementeret disse fællesvalgte konstruktive forslag, så er vi nødt til indbyrdes at kunne acceptere at alle har en stemme. Vi skal i gruppen finde nogle mål, så vi efter næste sprint, kan se om vi har overholdt vores forslag, eller om implantationen af disse 3 forslag har slået fejl.<br><br>

Succeskriteriet for forslag 1 er:

- At vi måske lige engang om dagen interagerer med de andre grupper.<br>

- Vi skal have lært noget af en anden gruppe<br>

Succeskriteriet for forslag 2 er:

- Alle skal som minimum have skrevet 2 sider hjemme<br>

- Alle skal som minimum have siddet og kigget på opgaven i 2 timer<br>

Succeskriteriet for forslag 3 er:

- Alle skal møde fysisk op alle dage, medmindre man bliver forhindret<br>

- Ingen dårlige undskyldninger, som fx at man sov over sig<br>

- Hvis man ikke kan komme, så skal man give begrundelse.<br><br>

Der er ikke nogen straf for ikke at overholde vores succeskriterier. Vi hæfter alle fælles, og når vi ikke opnår vores succeskriterier, så kan det være vi muligvis ender med et værre produkt i sidste ende. Dette er vores afslutning på vores første Sprint Retrospective, hvor vi fælles har set på en masse ting som enten har gjort os gode, eller hindret os i vores proces omkring projektet. Vi vil på vores næste Sprint vurdere om kriterierne er nået eller ikke nået.
</p>
</div>




{%block scriptbottom%}{%endblock%}


{% endblock body %}


