<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Sum{% endblock %}

{% block body%}
    <div>
    <table class="table table-hover">
  <thead>
    <tr>
        <tr>
        {% for s in header %}
            <th>{{ s }}</th>
        {% endfor %}
        </tr>
    </tr>
  </thead>
  <tbody>
        <tr>
        {% for s in datasæt %}
            <td>{{ s }}</td>
        {% endfor %}
        </tr>
  </tbody>
    </table>
  </div>

<!--Linechart-->

<div>
  <canvas id="myChart" style="height:400px; width:400px: content-box;"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/javascript.js') }}"></script>
<script>

const labels = {{date | tojson}}
const data = {
  labels: labels,
  datasets: [{
    label: 'Sales for each period',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: {{ sales | safe }},
  }]
};

const config = {
  type: 'line',
  data,
  options: {
      responsive: true,
      maintainAspectRatio: false
            }

};

  var myChart = new Chart(
    document.getElementById('myChart', ),
    config
  );
</script>


{% endblock %}


