.logo{
    height: auto;
    width: auto;
    max-height: 46px;
    max-width: 46px;

}

body {
    background: white;
  }


#p1-generelt {
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;

}

#line_sales_period {
    height:500px;
    content:block;
    margin-left: 2px;

}

#p2-generelt {
    display: block;
    margin-top: -18px;
    text-align: center;
    font-weight: bold;
    /*margin-left: 8px;*/
    text-decoration: underline;
    margin-bottom: 8px;
}

.table {

    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    white-space: nowrap;
}

#generel_header {
    font-size: 12px;
}

#generel_row {
    font-size: 14px;
}

#table_systemudvikling_userstory {
    float:left;
    margin-top: 5px;
    text-align: center;
    width: 50%;
    max-width: 100%;
    margin-bottom: 20px;
    white-space: nowrap;
}

#table_systemudvikling_usercase {
    float: right;
    margin-top: 5px;
    text-align: center;
    width: 50%;
    max-width: 100%;
    margin-bottom: 20px;
    white-space: nowrap;
}