/* Page Wide*/
.logo{
    height: auto;
    width: auto;
    max-height: 46px;
    max-width: 46px;

}

body {
    background: white;
  }


.navbar{
    border-bottom: 10px solid rgb(255, 0, 0);
}

.footer {
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    text-align: center;
    }

#button {
    display: inline-block;
    background-color: #ffcf9c;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    }
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}



/* Generelt-html */
#p1-generelt {
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;

}

#line_sales_period {
    height:500px;
    content:block;
    margin-left: 2px;

}

.table_sum_sales {
    margin-left: 1px;
    margin-right: 1px;
}

#p2-generelt {
    display: block;
    margin-top: -5px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

#table2_header {
    font-size: 12px;
}

#table2_row {
    font-size: 14px;
}

/* Systemudvikling-html */
#table_systemudvikling_userstory {
    float:left;
    margin-top: 5px;
    width: 45%;
    max-width: 100%;
    margin-bottom: 20px;
    white-space: nowrap;
    margin-left: 2.5%;
}

#table_systemudvikling_usercase {
    float: right;
    margin-top: 5px;
    width: 45%;
    max-width: 100%;
    margin-bottom: 20px;
    white-space: nowrap;
    margin-right: 5%;
}

/* Projektledelse */
#onedrive-gantt {
    margin-left:5%;
    margin-top:5px;
}



/* Home-html */
#home_top_logo {
    display:block;
    max-height:30px;
    margin-top:5px;
}

.paragraph_left {
    border:solid;
    border-color:white;
    margin-left:20%;
    margin-right: 20%;
    margin-top:3%;
    max-width: 100%;
    word-wrap: break-word;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #36344d;
    letter-spacing: .3px;
}
.paragraph_left h1 {
    text-align: center;
    margin-left: -27px;
}

/*Erhvervsøkonomi*/
.erhverv_table_nip_div {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
    overflow-y: auto;
    max-height: 500px;

}





