.logo{
    height: auto;
    width: auto;
    max-height: 46px;
    max-width: 46px;

}

body {
    background: white;
  }


#p1-generelt {
    font-weight: bold;
    text-decoration: underline;

}

#line_sales_period {
    height:500px;
    content:block;
    margin-left: 2px;

}

#p2-generelt {
    display: block;
    margin-top: -18px;
    font-weight: bold;
    /*margin-left: 8px;*/
    text-decoration: underline;
    margin-bottom: 8px;
}

#generel_header {
    font-size: 12px;
}

#generel_row {
    font-size: 14px;
}

#table_systemudvikling_userstory {
    float:left;
    margin-top: 5px;
    width: 45%;
    max-width: 100%;
    margin-bottom: 20px;
    white-space: nowrap;
    margin-left: 2.5%;
}

#table_systemudvikling_usercase {
    float: right;
    margin-top: 5px;
    width: 45%;
    max-width: 100%;
    margin-bottom: 20px;
    white-space: nowrap;
    margin-right: 5%;
}


#chart_div {
    top: 0;
    margin-left: 5%;
    width:90%;
    height:437px;
    overflow:scroll;

}